/**
 * 
 * Quantitas 2016
 * 
 * EFSA Data Visualization
 *
 * Main css file
 *
 */

body {overflow:hidden!important;margin:0;font-family:Roboto;}
#container { /* the main container */
    width:100%;
    height:100%;
    position:absolute;
}
#bacteria-div { /* the div containing the data visualization */
    font-family: Roboto !important;
    font-weight: 300;
    background-color: transparent;
}
#popup-wrapper {
    position:fixed;
    width:100%;
    height:100%;
    background-color:rgba(255, 255, 255, .5);
    display:none;
}
#popup {
    position:relative;
    margin:0 auto;
    top:50px;
    width:360px;
    height:auto;
    background-color:white;
    border: 2px solid #146674;
    overflow:hidden;
    display:none;
}
#popup-header {font-size:14px;font-weight:300;padding:10px;text-align:center;color:#949494;margin-top:20px;margin-bottom:20px;}
#popup-content {font-weight:700;padding-left:50px;padding-right:50px;}

/* alerts */
.alert {position:fixed;top:0;left:0;padding:10px;margin:0;z-index:99;width:100%;}
#screenalert {background-color:#fcf8e3;color:#8a6d3b;border-bottom:1px solid #faebcc;}

.t60 {
    -webkit-transform: translate(0px,60px);
    -moz-transform: translate(0px,60px);
    -ms-transform: translate(0px,60px);
    transform: translate(0px,60px);
}

.t_30 {
    -webkit-transform: translate(0px,-30px);
    -moz-transform: translate(0px,-30px);
    -ms-transform: translate(0px,-30px);
    transform: translate(0px,-30px);
}

.tnone {
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    -ms-transform: translate(0px,0px);
    transform: translate(0px,0px);
}
